body {
    background-color: var(--primary-color);
}
.subtitle {
    font-family: 'Syne Mono', monospace;
    color: var(--text-color);
    text-align: center;
}
.carrousel-img {
    width: 100vw;
    height: 240px;
    object-fit: cover;

}
.main-content{
    justify-content: center;
}
.add-container{
    background: white;
}
