.title {
    font-family: 'Syne Mono', monospace;
    color: var(--text-color);
    margin-right: 8px;
}
.main-container {
    display: grid;
    width: 100vw;
    height: 90vh;
    place-items: center;
}
.main-content {

    padding: 16px;
    margin: 12px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
}
.avatar {
    width: 60px;
    align-self: center;
}