body {
    background-color: var(--text-color2);
}
.games-container {
    min-height: 75vh;
}
.games-container > div {
    margin-bottom: 32px;
}
.game-img {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}